/* GLOBAL */

* {
    text-align: center;
    background-image: url('./images/background1.jpg');
    background-size: cover;
    cursor: url('images/cursor6.png'), auto;
    margin: 0;
}
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


/* LAYOUT HELPERS */
.map {
    cursor: url('images/cursor6click.png'), auto;
    box-shadow: 12px 29px 81px 0px rgb(0, 0, 0);
    height: 100vh;
    position: relative;
}
.map:hover {
    box-shadow: 12px 29px 81px 0px rgb(255, 255, 255);
}

.darkness {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);
    background-image: none;
    z-index: 2;
}
.password {
    margin-top: 300px;
    color: #fff;
    background-color: #444;
    width: 200px;
    background-image: none;
    cursor: url('images/cursor6click.png'), auto;
}

.flyingleft {
    position: absolute;
    width: 50px;
    background-image: none;
    right: -50px;
}